{% extends 'page/base.html' %}
{% block content %}
<div class="table-responsive-vertical shadow-z-1">
<!-- Table starts here -->
<table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>ID</th>
        <th>MBTI</th>
        <th>Region</th>
        <th>Age</th>
        <th>Sex</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td data-title="ID">{{ user.id }}</td>
        <td data-title="MBTI">{{ user.mbti1 }}</td>
        <td data-title="Region">{{ user.region }}</td>
        <td data-title="Age">{{ user.age }}</td>
        <td data-title="Sex">{{ user.sex }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
